services:
  frontend:
    build: ${FRONTEND_BUILD_CONTEXT}
    ports:
      - 3000
    networks:
      - app-network
    environment:
      - PUBLIC_URL=${FRONTEND_PUBLIC_URL}
      - WDS_SOCKET_PORT=${WDS_SOCKET_PORT}
    volumes:
      - ./repo_refs/react1-app:/app
  api:
    build: ${API_BUILD_CONTEXT}
    ports:
      - 3000
    networks:
      - app-network
    environment:
      - RAILS_HOST=${RAILS_HOST}
      - RAILS_RELATIVE_URL_ROOT=${RAILS_RELATIVE_URL_ROOT}
      - DATABASE_HOST=${DATABASE_HOST}
      - DATABASE_USERNAME=${DATABASE_USERNAME}
      - RAILS_ENV=${RAILS_ENV}
    volumes:
      - ./repo_refs/rails-app:/app
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/api/ping"]
      interval: 10s
      timeout: 5s
      retries: 3
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres
    ports:
      - 5432
    networks:
      - app-network
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 3
  backend:
    build: ${BACKEND_BUILD_CONTEXT}
    ports:
      - 3000
    environment:
      - PUBLIC_URL=${BACKEND_PUBLIC_URL}
      - WDS_SOCKET_PORT=${WDS_SOCKET_PORT}
    networks:
      - app-network
    volumes:
      - ./repo_refs/react2-app:/app
  nginx:
    image: nginx:alpine
    ports:
      - 8089:80
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - api
      - frontend
      - backend
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://nginx:8089"]
      interval: 10s
      timeout: 5s
      retries: 3

  # test:
  #   build: ./test
  #   networks:
  #     - app-network
  #   volumes:
  #     - ./test:/app
  #   environment:
  #     - CYPRESS_BASE_URL=http://nginx:80
  #   depends_on:
  #     - nginx
  #     - api
  #     - frontend
  #     - backend

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
